.table {
    margin-bottom: 0;
}
.draggable {
    cursor: move;
    user-select: none;
}
.placeholder {
    background-color: #edf2f7;
    border: 2px dashed #cbd5e0;
}
.dragging {
    border-top: 1px solid #ccc;
    z-index: 999;
}